/*=========HEADER=====*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0 auto;
    background-color: #0c4f48;
}

/*----------HEADER - H1 - ------*/
div.head {
    background-image: url("../img/flag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
}

/*--------------Wrapper----------*/

div#wrapper {
    margin: 0 auto;
    display: grid;
}

h1 {
    margin-bottom: 0.5rem;
    color: rgb(70, 62, 62);
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0.25rem;
    font-family: "Oswald", sans-serif;
    padding: 1rem;
    font-variant: small-caps;
    background-color: white;
}

/*----------MENU-----------*/

nav ul li {
    border-bottom: solid 1px #0c4f48;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    padding: 0.5rem;
    font-weight: 600;
}

nav ul li a {
    color: rgb(70, 62, 62);
    text-decoration: none;
}

nav ul li a:hover {
    color: #168d81;
    margin-left: 0.25rem;
    letter-spacing: 0.35rem;
    transition: ease-in-out 0.15s;
}

ul {
    background-color: white;
}

.menu-list-visibility,
.provinz-list {
    display: none;
}

.provinz-list li {
    font-size: 1.1rem;
}

div#hamburgerMenu {
    cursor: pointer;
    margin: 1rem 0;
}

div.hamburger-line {
    width: 2.5rem;
    border-radius: 5rem;
    height: 3px;
    color: white;
    background-color: rgb(255, 255, 255);
    padding: 0.05rem;
    margin: 0.45rem;
    transition: 0.4s ease-in-out;
}

div.line-one-animation {
    transform: translateY(0.5rem) rotate(-45deg);
    transition: 0.4s ease-in-out;
}

div.line-two-animation {
    transform: translateX(-150%);
    transition: 0.4s ease-in-out;
}

div.line-three-animation {
    transform: translateY(-0.75rem) rotate(45deg);
    transition: 0.4s ease-in-out;
}

/*----------SECTION-----------*/
section#main {
}
