/*=========HEADER=====*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0 auto;
    background-color: white;
}

/*----------HEADER - H1 - ------*/
header {
    grid-column: 1/13;
}

/*--------------Wrapper----------*/

div#wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 960px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(3rem, auto);
    grid-gap: 0.5rem;
}

h1 {
    color: #7c1034f8;
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0.25rem;
    font-family: "Oswald", sans-serif;
    padding: 1rem;
    font-variant: small-caps;
    background-color: #ffffff;
    text-shadow: 2px 2px 0px #a4a4a4b0;
}

/*----------MENU-----------*/

#aktiv-page-name {
    align-self: center;
    justify-self: center;
    grid-column: 2/4;
    color: #0c4f48;
    letter-spacing: 0.75rem;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: "Luxurious Script", cursive;
    text-shadow: 4px 3px 4px #a4a4a4;
}

#ham-and-actual-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

nav {
    grid-column: 1/13;
    border-bottom: solid 1px #0c4f48;
    border-top: solid 1px #0c4f48;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.37);
}

nav ul li {
    border-bottom: solid 1px #0c4f48;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    padding: 0.5rem;
    font-weight: 600;
}

nav ul li a {
    color: rgb(70, 62, 62);
    text-decoration: none;
}

nav ul li a:hover {
    color: #168d81;
    margin-left: 0.25rem;
    letter-spacing: 0.35rem;
    transition: ease-in-out 0.15s;
}

ul {
    background-color: white;
}

.menu-list-visibility,
.provinz-list {
    display: none;
}

.provinz-list li {
    font-size: 1.1rem;
}

div#hamburgerMenu {
    cursor: pointer;
    margin: 1rem 0;
}

div.hamburger-line {
    width: 2.5rem;
    border-radius: 5rem;
    height: 3px;
    color: #0c4f48;
    background-color: #0c4f48;
    padding: 0.05rem;
    margin: 0.45rem;
    transition: 0.4s ease-in-out;
}

div.line-one-animation {
    transform: translateY(0.5rem) rotate(-45deg);
    transition: 0.4s ease-in-out;
    background-color: #7c1034f8;
}

div.line-two-animation {
    transform: translateX(-150%);
    transition: 0.4s ease-in-out;
}

div.line-three-animation {
    transform: translateY(-0.75rem) rotate(45deg);
    transition: 0.4s ease-in-out;
    background-color: #7c1034f8;
}

/*----------SECTION-----------*/

section h2 {
    text-align: center;
    border-top: solid 1px white;
    padding: 1rem;
}

section {
    grid-column: 1/10;
    margin: 0.35rem 0.5rem;
}

div#second-paragraph {
    background-color: #0c4f48;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
}

aside#social-media {
    grid-column: 12/13;
    max-height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #7c1034f8;
    transition: all 0.6s ease-in-out;
    margin-top: 2rem;
    padding: 0.5rem;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    position: sticky;
    top: 0;
    -webkit-box-shadow: -6px 5px 10px 3px rgba(0, 0, 0, 0.2);
    box-shadow: -6px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

aside#social-media a {
    text-decoration: none;
    color: #ffffff;
}

.slideIn {
    transform: scale(1.2);
    transition: all 0.6s ease-in-out;
}

/*---------FOOTER--------*/

footer {
    background-color: white;
    grid-column: 1/13;
    bottom: 0;
    position: sticky;
    padding: 0.35rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    border-top: solid 1px #0c4f48;
    -webkit-box-shadow: 0px -6px 6px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0px -6px 6px 0px rgba(0, 0, 0, 0.37);
}

footer div#house-icon a {
    text-decoration: none;
    color: #0c4f48;
}

footer a {
    text-decoration: none;
}

div#house-icon i {
    border: solid 1px #0c4f48;
    padding: 0.5rem;
    border-radius: 50%;
}

footer div#house-icon {
    color: #0c4f48;
    text-align: center;
}

div#house-icon i:hover {
    background-color: #0c4f48;
    color: white;
}

h4 {
    text-align: center;
    font-family: "Luxurious Script", cursive;
    font-size: 1.75rem;
    font-weight: 200;
}

#email-adress,
#telefon {
    font-size: 0.85rem;
    text-align: center;
}
